<!-- Test for bootstrap and navbar
<p>app-navbar works!</p>
<button class="btn btn-primary">Test</button> 
-->

<!-- Image and text -->
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <table>
            <tr>
                <td style="padding: 5px;">
                    <img src="assets/images/fcps-logo.png" 
                    width="150" height="50" 
                    class="d-inline-block align-top" alt="FCPS-Logo">
                </td>
                <td>
                    <tr>Program of Studies</tr>
                    <tr>PreK - 12th Grade</tr>                    
                </td>
            </tr>
        </table>
    </a>
  </nav>
